main = ".open-next/worker.js"
name = "irjep"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

[vars]
NODE_ENV = "production"

[assets]
directory = ".open-next/assets"
binding = "ASSETS"
